
@{
    ViewBag.Title = "Unauthorised";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style=" padding:20px;">
    <h3>
        Unauthorised
    </h3>
    <h4>
        Sorry your username is not recognised, please contact an Admin to add you as a user.
    </h4>
    <br />
</div>  